@font-face {
  font-family: "Prstart";
  src: url("assets/prstart.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("assets/SourceSansPro-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("assets/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Light";
  src: url("assets/SourceSansPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/Roboto-Bold.ttf") format("truetype");
}

.plan__box {
  margin: auto;
  /* float: left; */
  /* background-color: indigo; */
}
.plan {
  width: 89vw;
  height: auto;
}

.event-fit {
  fill: hotpink;
  width: 30px;
  height: auto;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: black;
  color: azure;
  font-family: "Roboto-Regular";
  font-size: 20px;
}

.page__title {
  margin: auto;
  width: 60%;
  text-align: center;
  /* border: 3px solid green; */
  padding: 20px;
}

.location:after {
  display: block;
  height: 1px;
  background-color: greenyellow;
  content: " ";
  width: 95vw;
  margin: 5px 0 15px 0;

}

/* TODO TODO TODO TODO TODO TODO TODO TODO  */
/* --------------- how to resixe main container??? --------------- */
.main-container {
  /* border:4px solid purple; */
  display: block;
  margin: 15px;
}

.grid-container-browser {
  display: grid;
}

.grid-element {
  background-color: rgba(241, 91, 141, 0.089);
  margin: 3px ;
}

/* ----------- AREAS ----------- */
.grid--areas {
  grid-gap: 1px;
  grid-template-areas:
      "start-time"
      "date-and-day"
      "type"
      "title"
      "location";
}

.time {
  letter-spacing: 2px;
  grid-area: start-time;
}

.date {
  grid-area: date-and-day;
}

.type {
  font-family: "SourceSansPro-Regular";
  grid-area: type;
}

.title {
  grid-area: title;
}

.location {
  grid-area: location;

}
