@font-face {
  font-family: "Prstart";
  src: url("assets/prstart.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("assets/SourceSansPro-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("assets/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SourceSansPro-Light";
  src: url("assets/SourceSansPro-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/Roboto-Bold.ttf") format("truetype");
}

.button {
  background-color: black;
  border:3px solid cornsilk;
  border-radius: 30px;
  color: white;
  padding: 30px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 680%;
  font-family: "SourceSansPro-Light";
  font-weight: 200px;
  align-self: center;
  width: 30%;

}

body {
  width: 100%;
  height: 100%;
  /* margin-left: 80vh; */
  /* background-color: rgb(39, 32, 32); */
  background-color: black;

}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 100%;
  width: 100%;
}

h1 {
  color: greenyellow;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: Prstart;
  font-size: 40px;
  text-align: center;
  opacity: 1;
  width: 100%;
  height: 100%;
}

h3 {
  color: greenyellow;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: Prstart;
  font-size: 30px;
  text-align: left;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.events {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  margin: 3;
  color: rgb(211, 211, 211);
}

.hour {
  font-size: 80px;
  line-height: 75%;
  font-family: "Roboto-Bold";
  ;
  /* background-color: aliceblue; */
}
.date {
  font-family: "Roboto-Regular";
  font-size: 35px;
  color: azure;
}
.day {
  font-family: "Roboto-Regular";
  font-size: 25px;
  color: rgba(240, 255, 255, 0.795);
}

.title {
  font-family: "Roboto-Regular";
  font-size: 55px;
  line-height: 200%;
  color: azure;
}

.type {
  font-family: "SourceSansPro-Regular";
  font-size: 35px;
  color: rgba(240, 255, 255, 0.767);
}

.location {
  font-family: "Roboto-Bold";
  font-size: 45px;
  line-height: 150%;
}

.arrow {
  /* height: 50px; */
  line-height: 200%;
  /* align-content: center; */
}

/* * {
  box-sizing: border-box;
} */

/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
} */

.grid-container {
  display: grid;
  padding: 40px; 
  grid-template-columns: auto auto auto auto;
  grid-template-columns: 300px 1500px 500px 300px;
  color: azure;
  /* grid-auto-rows: 55px; */
  /* grid-auto-rows: minimax(65px, auto); */
  /* grid-row-gap: 1px; */
  white-space: nowrap;
  text-align: left;
  
 
  /* align-content: left; */
  /* justify-content: left; */

}

.grid-container > div {
  background: black;
  /* color: azure; */
  border-bottom: 3px solid rgba(92, 99, 99, 0.514);

} 

.grid-container > span {
  background: black;
  padding: 18px 4px;
  color: azure;
  
  /* white-space: nowrap; */
  /* white-space: normal; */
  /* white-space: pre;
  white-space: initial;
  white-space: unset;
  white-space: pre-wrap;
  white-space: inherit;
  white-space: pre-line; */
  /* border-bottom: 5px solid rgba(92, 99, 99, 0.514); */


}

.currenttime {
  font-size: 85px;
  color:cornsilk;


}




